nav{
  background-color: #DC3546;
  height: 10vh;
  color: yellow;
  font-size: 1.5rem;
}
.mi-navbar{
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
.links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}
.home-nav{
  display: flex;
  align-items: center;
  gap: 5px;
}
.contacto-nav{
  display: flex;
  align-items: center;
  gap: 5px;
  
}
.main-icon{
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.main-home img{
  height: 20rem;
}
.main-home h1{
  font-size: 4rem;
  font-weight: 300;
}
.main-home p{
  font-size: 1.5rem;
}